# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (opsional, hapus tanda komentar jika tidak mau push setting pribadi)
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
/build/

# Documentation
**/doc/api/

# iOS
ios/Flutter/.last_build_id
ios/Pods/
Podfile.lock

# Web build
web/.dart_tool/
web/build/

# Signing keys (⛔ penting untuk keamanan)
*.jks
*.keystore
key.properties

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build variants (tidak perlu dipush)
android/app/debug/
android/app/profile/
android/app/release/
